html
   body
      form#plaid-link-form
      script(src='https://cdn.plaid.com/link/stable/link-initialize.js', data-client-name='My App', data-form-id='plaid-link-form', data-key='test_key', data-product='auth', data-env='tartan')